.container {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.cookiebutton {
  display: block;

  margin-left: auto;
  margin-right: auto;

    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;

    background: 0 0;
    border: thin solid #b26ff8;
    border-radius: 24px;
    -webkit-box-shadow: inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px transparent;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .2s ease
}

#cookieText {
  /* font-family: 'Verdana', sans-serif; */
  font-family: 'COE Demo Stand Personal Unique Awesome Font 228', sans-serif;
  font-size: 40px;
  text-shadow: none; /* Remove default glow effect */
  font-weight: normal;
}

#cookieText:hover {
  text-shadow: 0 0 10px orange; /* Add glow effect on hover */
}

#tasktip {

    font-weight: bolder;
}


#tasktip:hover {
  text-shadow: 0 0 10px green; /* Add glow effect on hover */
}